@charset "utf-8";
.page-header {
	background-image: url(images/header_img.jpg);
	background-repeat: repeat-x;
	height: 124px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.float_right {
	float: right;
}
.page-footer{
	font-family: Tahoma;
	color: #ff7976;
	font-size: 14px;
	font-weight: 400;
	text-align: center;

	}
